body {
  margin: 0;
  font-family: 'Black Ops One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, 
p, label, span, textarea, div, main {
  font-family: 'Black Ops One', cursive;
}

.home-image { bottom: 0; }
.h-100vh { height: calc(100vh - 56px);}
.bg-primary-dark-sky { background-color: #212c44; }
.main-counter-wrapper { top: 10em; }
.f-size-3 { font-size: 3em; }
.f-size-5 { font-size: 5em; }
::selection{
  background: #e06062;
}
::-moz-selection{
  background: #e06062
}